<header>
  <nav class="navbar navbar-expand fixed-top text-bg-danger border-bottom">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <!-- Toggle Sidebar -->
        <button
          class="btn btn-danger mr-2"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
        >
          <i class="bi-list" style="font-size: 1.25rem"></i>
        </button>
        <!-- <a class="navbar-brand mx-2" [routerLink]="['pokadex']">PoKAdex</a> -->
        <form>
          <input
            class="form-control"
            type="search"
            placeholder="Pokemon, Items, Moves, etc."
            aria-label="Search"
          />
        </form>
      </div>

      <div>
        <select
          name="game"
          id="gameSelect"
          class="form-select"
          (change)="onGameChanged(gameSelect.value)"
          [(ngModel)]="selectedGame"
          #gameSelect
        >
        <option [ngValue]="null" disabled>Select Game</option>
          <option  [ngValue]="game.pokedexID" *ngFor="let game of gameOptions">
            {{ game.name }}
          </option>
          <!-- <option value="KANTO">Red / Blue / Yellow</option>
          <option value="ORIGINAL-JOHTO">Gold / Silver / Crystal</option>
          <option value="HOENN">Ruby / Sapphire / Emerald</option>
          <option value="KANTO">FireRed / LeafGreen</option>
          <option value="ORIGINAL-SINNOH">Diamond / Pearl, Platinum</option>
          <option value="UPDATED-JOHTO">HeartGold / SoulSilver</option>
          <option value="ORIGINAL-UNOVA">Black / White</option>
          <option value="UPDATED-UNOVA">Black 2 / White 2</option>
          <option value="KALOS">X / Y</option>
          <option value="UPDATED-HOENN">Omega Ruby / Alpha Sapphire</option>
          <option value="ALOLA">Sun / Moon</option>
          <option value="UPDATED-ALOLA">Ultra Sun / Ultra Moon</option>
          <option value="LETS-GO-KANTO">
            Let's Go Pickachu / Let's Go Eevee
          </option>
          <option value="{27,28,29}">Sword / Shield</option> -->
        </select>
      </div>
    </div>
  </nav>
</header>
