@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "../../../shared/type-colors";
.type-chart {
  th,
  td {
    width: 2rem;
  }

  .damage {
    border-radius: 0.375rem;

    p {
      margin: 0;
    }
  }
  .normal {
    background-color: $gray-100;
    color: $gray-500;
  }
  .weak {
    background-color: $green-600;
    color: white;
  }
  .very-weak {
    background-color: $green-700;
    color: white;
  }
  .resistant {
    background-color: $red-600;
    color: white;
  }
  .very-resistant {
    background-color: $red-700;
    color: white;
  }
  .no-effect {
    background-color: $gray-800;
    color: white;
  }
}
