<div class="container">
  <a routerLink="/pokadex" class="my-2 btn btn-danger"
    ><i class="bi-arrow-left"></i> Back to Pokadex</a
  >
  <div class="spinner" *ngIf="pokemon === undefined"></div>
  <div class="row my-4" *ngIf="pokemon != undefined">
    <!-- ID, NAME, AND PICTURE -->
    <div class="col-md-4">
      <div class="heading my-2">
        <h1>
          <span class="pokemon-id">#{{ id }}</span> -
          <span class="pokemon-name">{{ name }}</span>
        </h1>
      </div>
      <img
        [src]="pokemonImgPath"
        [alt]="'Picture of ' + name"
        loading="lazy"
        class="pokemon-image mb-2 img-fluid"
      />
    </div>
    <div class="col-md-8" #data>
      <!-- BASIC DATA & BREEDING ROW -->
      <div class="row">
        <div class="col-md-6 my-3">
          <app-pokemon-basic-data
            [pokemon]="pokemon"
            [species]="species"
            [language]="languageID"
          ></app-pokemon-basic-data>
        </div>
        <div class="col-md-6 my-3">
          <app-pokemon-breeding [species]="species"></app-pokemon-breeding>
        </div>
      </div>

      <!-- TYPE CHART ROW -->
      <div class="row">
        <div class="col-12">
          <app-pokemon-type-chart [pokemon]="pokemon"></app-pokemon-type-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4" *ngIf="pokemon != undefined">
    <div class="col-12">
      <ul
        class="nav nav-tabs nav-justified sticky-top"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item" role="presentation" *ngFor="let tab of tabs">
          <button
            [ngClass]="{ active: tab === 'Stats' }"
            class="nav-link"
            data-bs-toggle="tab"
            [attr.data-bs-target]="'#' + tab"
            type="button"
            role="tab"
            [attr.aria-controls]="tab"
            aria-selected="true"
          >
            <span>{{ tab }}</span>
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- STATS TAB -->
        <app-pokemon-stats
          class="tab-pane fade show active"
          id="Stats"
          role="tabpanel"
          aria-labelledby="stats-tab"
          tabindex="0"
          [stats]="pokemon.stats"
        >
        </app-pokemon-stats>
        <!-- EVOLUTION TAB -->
        <app-pokemon-evolution
          class="tab-pane fade"
          id="Evolution"
          role="tabpanel"
          aria-labelledby="evolution-tab"
          tabindex="0"
          [pokeID]="chainID"
          [pokeName]="name"
        >
        </app-pokemon-evolution>
        <!-- ENCOUNTERS TAB -->
        <div
          class="tab-pane fade"
          id="Encounters"
          role="tabpanel"
          aria-labelledby="encounters-tab"
          tabindex="0"
        >
          Encounters here
        </div>
        <!-- FORMS TAB -->
        <div
          class="tab-pane fade"
          id="Forms"
          role="tabpanel"
          aria-labelledby="forms-tab"
          tabindex="0"
        >
          Forms here
        </div>
        <!-- MOVES TAB -->
        <div
          class="tab-pane fade"
          id="Moves"
          role="tabpanel"
          aria-labelledby="moves-tab"
          tabindex="0"
        >
          Moves here
        </div>
      </div>
    </div>
  </div>
</div>
