@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.pokemon-name,
.data-name {
  text-transform: capitalize;
}

.pokemon-image {
  // max-width: 300px;
  text-align: center;
}

.nav-link {
  color: $red;

  &.active {
    background-color: $red;
    color: $white;
  }
}

// *{
//   outline: 1px solid red;
// }

*{
  text-transform: capitalize;
}
