@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.pokemon-name,
.data-name {
  text-transform: capitalize;
}

.pokemon-image {
  // max-width: 300px;
  text-align: center;
}

.nav-link {
  // color: $red;
  color: $white;
  
  &.active {
    background-color: $red;
    color: $white;
  }
}

a {
  text-decoration: none;
}

.sticky-top {
  top: 61px;
}

.nav-item{
  background-color: $red-400;
}

// *{
//   outline: 1px solid red;
// }
