@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

.pokemon-name,
.data-name {
  text-transform: capitalize;
}

.pokemon-image {
  max-width: 300px;
}

.nav-link {
  color: $red;

  &.active {
    background-color: $red;
    color: $white;
  }
}

// *{
//   outline: 1px solid red;
// }
