img {
  width: 120px;
  height: 120px;
}

.pokemon-name {
  text-transform: capitalize;
}

.pokemon-card {
  color: black;
  text-decoration: none;
  background: none;
  border: 0;
  outline: 0;
  transition: all 250ms ease-in-out;
  &:hover {
    transform: scale(1.05);
  }

  .pokemon-types{
    display: flex;
    justify-content: space-evenly;
  }
}
