<!-- <p>pokemon-card works!</p> -->
<a
  class="pokemon-card w-100"
  (click)="logPokemon()"
  [routerLink]="[pokemon.id]"
>
  <div class="card text-center w-100">
    <div class="card-header">
      <p class="pokemon-id my-1">#{{ pokemon.entry }}</p>
      <h4 class="pokemon-name">{{ pokemon.name }}</h4>
    </div>
    <div class="card-body">
      <img
        [src]="pokemonImgPath"
        [alt]="'Picture of ' + pokemon.name"
        loading="lazy"
        class="pokemon-image mb-2"
      />

      <div class="pokemon-types container-fluid">
        <app-type-badge
          *ngFor="let type of pokemon.types"
          [type]="type"
        ></app-type-badge>
      </div>
    </div>
  </div>
</a>
