@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.stat-container {
  display: flex;
  justify-content: space-between;

  .stat-name {
    text-transform: capitalize;
    margin-right: 0.5rem;
  }

  .stat-bar-outer {
    width: 16rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    background-color: lightgray;
  }

  .stat-bar-inner {
    height: 100%;
    text-align: center;

    &.weak {
      background-color: $teal-200;
    }
    &.mid {
      background-color: $teal-400;
    }
    &.strong {
      background-color: $teal-500;
    }
  }
}
