@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.spinner {
  border: $red 1rem solid;
  border-top: $white 1rem solid;
  border-left: white 1rem solid;

  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 2rem auto;
  animation: spin 750ms ease-in-out infinite;
  place-self: center;
  opacity: 1;
  pointer-events: all;

  &.hide {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-item {
  .page-link {
    color: $red;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      box-shadow: rgba($color: $red, $alpha: 0.25) 0 0 0 4px;
    }
  }
}
