<div class="container">
  <div class="spinner" *ngIf="pokemons.length === 0"></div>

  <nav class="mx-auto my-3" *ngIf="pokemons.length > 0">
    <ul class="pagination justify-content-center">

      <!-- Pages -->
      <li class="page-item" *ngFor="let number of numOfPages">
        <a
          class="page-link"
          [ngClass]="{ 'text-bg-danger': number === currentPageNumber }"
          (click)="onChangePage(number)"
        >
          <span aria-hidden="true">{{ number }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-3"
  >
    <app-pokemon-card
      *ngFor="let pokemon of pageOfPokemons"
      [pokemon]="pokemon"
    ></app-pokemon-card>
  </div>

  <nav class="mx-auto my-3" *ngIf="pokemons.length > 0">
    <ul class="pagination justify-content-center">
      <!-- Pages -->
      <li class="page-item" *ngFor="let number of numOfPages">
        <button
          class="page-link"
          [ngClass]="{ 'text-bg-danger': number === currentPageNumber }"
          (click)="onChangePage(number)"
        >
          <span aria-hidden="true">{{ number }}</span>
      </button>
      </li>
    </ul>
  </nav>
</div>
