@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$normal: $gray-200;
$fighting: $orange-400;
$flying: $cyan-200;
$poison: $purple-400;
$ground: $orange-600;
$rock: $yellow-700;
$bug: #729f3f;
$ghost: $purple-600;
$steel: $gray-500;
$fire: $red-400;
$water: $blue-500;
$grass: $green-400;
$electric: $yellow-500;
$psychic: $pink-500;
$ice: $cyan-500;
$dragon: $blue-600;
$dark: $indigo-800;
$fairy: $pink-300;

* {
  text-transform: capitalize;
}

.type-badge{
  width: 4rem;
}

.normal {
  background-color: $normal;
  color: black;
}
.fighting {
  background-color: $fighting;
  color: white;
}
.flying {
  background-color: $flying;
  color: black;
}
.poison {
  background-color: $poison;
  color: white;
}
.ground {
  background-color: $orange-600;
  color: white;
}
.rock {
  background-color: $yellow-700;
  color: white;
}
.bug {
  background-color: $bug;
  color: white;
}
.ghost {
  background-color: $ghost;
  color: white;
}
.steel {
  background-color: $steel;
  color: white;
}
.fire {
  background-color: $fire;
  color: white;
}
.water {
  background-color: $water;
  color: white;
}
.grass {
  background-color: $grass;
  color: white;
}
.electric {
  background-color: $electric;
  color: white;
}
.psychic {
  background-color: $psychic;
  color: white;
}
.ice {
  background-color: $ice;
}
.dragon {
  background-color: $dragon;
  color: white;
}
.dark {
  background-color: $dark;
  color: white;
}
.fairy {
  background-color: $fairy;
}
