/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Bootstrap Icons */
@import "~bootstrap-icons/font/bootstrap-icons";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

body {
  // Due to position: fixed of navbar
  padding-top: 61px;
}

.spinner {
  border: $red 1rem solid;
  border-top: $white 1rem solid;
  border-left: white 1rem solid;

  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 2rem auto;
  animation: spin 750ms ease-in-out infinite;
  place-self: center;
  opacity: 1;
  pointer-events: all;

  &.hide {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table {
  tbody {
    tr {
      border-top: 1px solid $gray-200;
    }
  }
  th {
    vertical-align: middle;
    width: 30%;
  }
}
